
//Colours
$primary-color: #003865;
$color-blue: #0072CE;
$background:  #F4F4F4;
$color-white: #FFFF;
$text-color: #333333;
$color-red: red;

//Font
$font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
$font-size-sm: 1rem;
$font-size-md: 1.25rem;
$font-size-lg: 1.3rem;

$shadow: 0 2px 8px rgba(0,0,0,0.08);
$radius: 12px;

//Spcacing
$space-xs: 0.25rem;
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;